<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.internet_store.dao.IUserDao">
    <resultMap id="userResultMap" type="User">
        <id property="id" column="id" javaType="long"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="age" column="age" javaType="short"/>
    </resultMap>

    <select id="getEntity" resultMap="userResultMap">
        SELECT * FROM users WHERE id = #{id}
    </select>

    <insert id="createEntity" useGeneratedKeys="true"
            keyProperty="id" parameterType="User">
        INSERT INTO users (name, email, age)
        VALUES (#{name}, #{email}, #{age})
    </insert>

    <delete id="deleteEntity" parameterType="User">
        DELETE FROM users WHERE id = #{id}
    </delete>

    <update id="updateEntity" parameterType="User">
        UPDATE users SET name = #{name}, email = #{email}, age = #{age}
        WHERE id = #{id}
    </update>

    <select id="getUsers" resultMap="userResultMap">
        SELECT * FROM users
    </select>
</mapper>